{% extends 'base/base.html' %}

{% block content %}
    <div style="margin: auto;">
        <form action="." method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}

            <table style="margin: auto;">

                <thead>
                <tr>
                    <th>Решение по заявке</th>
                </tr>
                {% if form.errors %}
                    <tr>
                        <th>{{ form.errors }} </th>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                <tr>
                    <td>
                        <b>Вызвана скорая: </b>
                    </td>
                    <td>
                        {{ form.called_ambulance }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Вызвана ДПС: </b>
                    </td>
                    <td>
                        {{ form.called_police }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Вызван МЧС: </b>
                    </td>
                    <td>
                        {{ form.called_mchs }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Вызван эвакуатор: </b>
                    </td>
                    <td>
                        {{ form.called_tow_truck }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Комментарий: </b>
                    </td>
                    <td>
                        {{ form.comment }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn" type="submit"
                               value="Создать">
                    </td>
                    <td>
                        <a class="btn" {% if user.dispatcher %}
                           href="{% url 'application:dispatcher_list' %}" {% else %}
                           href="{% url 'application:commissioner_list' %}" {% endif %} >Назад</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>

    </div>
{% endblock %}